MYSQL_ROOT_PASSWORD=rootpwd
MYSQL_DATABASE=godo
MYSQL_USER=godo
MYSQL_PASSWORD=godo
JWT_SECRET=godo
PORT=8080 # This is the host HTTP listening port
DB_CLIENT=mysql
DB_CONN="godo:godo@tcp(mysql:3306)/godo?charset=utf8mb4&parseTime=True&loc=Local"
GITHUB_CLIENT_ID=e1ada0b74a628ffe0df4 # Replace this with your Github OAuth app client id
GITHUB_CLIENT_SECRET=52426cc71181f4cf4a61ec22135834be417435ac # Replace this with your Github OAuth app client secret